
/* Navbar Scroll Style */
.profileNavbarScroll {
    line-height: 0.3rem;
}

/* Sezione RightBar */
.hoverBtn:hover {
background: lightgray!important;
}

.rounded {
    border-radius: 50em;
}

.rndCircle {
    border-radius: 50em !important;
}

.imgCircle {
    width: 3em;
    height: 3em;
    border-radius: 50% !important;
}

/* Fine Sezione RightBar */

/*SEZIONE NAVBAR*/

.testoNavbar {
    font-size: 0.9rem !important;
    color: #666666 !important;
    font-weight: 400 !important;
}

.linkNavbar{
    font-size: 0.9rem !important;
    color: #915907 !important;
    font-weight: 400 !important;
    text-decoration: underline !important;
}

.testoNavbar:hover, .linkNavbar:hover {
    color: #000000 !important;
}

.navbarIcon {
    width: 1.5rem;
    height: auto;
}

/*FINE NAVBAR*/

/* Footer Style */
.fontFooter {
    font-size: 0.8rem;
    color: rgb(100, 98, 98);
    line-height: 1.5rem;
}

.ulFooter li a {
    color: rgb(100, 98, 98);
    text-decoration: none;
}
